<html>
<head>

<link href="assets/css/devise.css" rel="stylesheet" />

</head>
<center>
</br></br>
<div class="form">
<h1>Buddler.</h1></br>
<h2></h2>
<body>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true }) do |f| %>
  <%= devise_error_messages! %>
<div class="field">
  <%= f.text_field :firstname, :placeholder =>'First Name',:class => "field"%>
  </div>
<div class="field">
  <%= f.text_field :lastname, :placeholder => 'Last Name',:class => "field" %>
  </div>
  <div class="field">
    <%= f.email_field :email, autofocus: true , :placeholder => 'E-mail Address',:class => "field"%>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="field">
  <%= f.label :"Upload Profile Picture"%><br>
  <%= f.file_field :image%>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
</body></html>