<html>
<head>

<link href="assets/css/devise.css" rel="stylesheet" />

</head>
<center>
</br></br>
<div class="form">
<h1>Buddler.</h1></br>
<h2></h2>
<body>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { multipart: true}) do |f| %> <%= devise_error_messages! %>
  <div class="field">
  <%= f.text_field :firstname, :placeholder =>'First Name',:class => "field"%>
  </div>
  <div class="field">
  <%= f.text_field :lastname, :placeholder => 'Last Name',:class => "field" %>
  </div>
  <div class="field">
    <%= f.email_field :email, autofocus: true , :placeholder => 'E-mail Address',:class => "field"%>
  </div>
  <div class="field">
    <% if @minimum_password_length %>
    <!-- <em>(<%= @minimum_password_length %> characters minimum)</em> -->
    <% end %>
    <%= f.password_field :password, autocomplete: "off", :placeholder => 'Password (Minimum of 6 characters)',:class => "field" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "off", :placeholder => 'Confirm Password', :class => "field"%>
  </div>

   <div class="field">
  <%= f.file_field :image%>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
</div>
<% end %>
</body></html>
<%= render "devise/shared/links" %>
