<h1 align="center"><%= @user.firstname %>'s Profile </h1>
<div class="row">
	<div class="profileimg">
		<center>
		<%= image_tag @user.image.url(:medium), class: "img-circle" %>
	
	</div>
</div>
<br><br>
<h2 align="center" class: "userLabel"><%= @user.firstname %>'s Posts</h2>


<% @posts.each do |post| %>
<center>
 <div class="col-md-4">

 <div class="post">
 <h2 class="status"><%= post.status %></h2>
 <%= link_to "View Comments", post_path(post), class: "btn-viewcomment" %> 
 </div>
  </div>
  
<% end %>