/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

container {
	background-color: #ff7575;
}

.col-md-4 {
    width: 33.33333333%;
}
.post {
	
}

.status{
box-sizing: border-box;
	background-color: #00bcb8;
	margin-bottom: 10px;
	margin-right: 10px;
	margin-left: 10px;
	padding: 1.4em 1.4em;
	height: 150px;
	border: 3px solid black;	
}

.btn-viewcomment{
box-sizing: border-box;
	margin-top: 20px;
	height: 30px;	
}

.showstatus {
	margin: auto;
 	position: absolute;
  	top: 0; left: 0; bottom: 0; right: 0;
	width: 500px;
	box-sizing: border-box;
	background-color: #383838;
	padding: 2.0em 1.5em;
	border-bottom: 4px solid #0a8fd5;
	color: #fff;
	font-family: 'Muli', sans-serif;
	
	h2 {
		margin-top: 0;
	}

	.statusview  {
	font-size: 40px;
	}

	.statusview {
		font-size: 1.1em;
		line-height: 1.75;
		margin-bottom: 50px;
	}

	.status-posted-by {
		color: #eee;
		font-size: 0.9em;
	}

	.commentreply {
		margin-top: 50px;
	}

}


.commentlbl {
	border-bottom: 1px solid #fff;
	padding-top: 15px;
	padding-bottom: 15px;

	.comment-content {
		font-size: 1.25em;
	}	

	.comment-posted-by {
		color: #eee;
		font-size: 0.8em;
	}

	.links {
		margin-top: 15px;
		a {
			color: #0a8fd5;
			margin-right: 15px;
		}
	}
}

.img-circle {
    border-radius: 50%;
    height: 150px;
}

.userLabel {
	text-transform: capitalize;
}

.statusInput {
	border: 3px solid #c4c4c4; 
    outline: 0;
    width: 100%; 
    height: 100%;
    font-size: 30px; 
    padding: 4px 4px 4px 4px; 
    border-radius: 4px; 
    -moz-border-radius: 4px; 
    -webkit-border-radius: 4px; 
    box-shadow: 0px 0px 8px #d9d9d9; 
    -moz-box-shadow: 0px 0px 8px #d9d9d9; 
    -webkit-box-shadow: 0px 0px 8px #d9d9d9; 
}
.statusInput {
	outline: 0; 
    border: 3px solid #7bc1f7; 
    box-shadow: 0px 0px 8px #7bc1f7; 
    -moz-box-shadow: 0px 0px 8px #7bc1f7; 
    -webkit-box-shadow: 0px 0px 8px #7bc1f7; 
}

.statusPostBtn{
  float: center;
  -webkit-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
  -moz-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
  box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
  color:#fafafe;
  background-color:#42acac;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border:none;
  font-family:'Helvetica Neue',Arial,sans-serif;
  font-size:20px;
  font-weight:300;
  height:50px;
  width: 270px;
}

.statusPostBtn:hover{
  float: center;
  -webkit-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
  -moz-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
  box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
  color:#fafafe;
  background-color:#149898;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border:none;
  font-family:'Helvetica Neue',Arial,sans-serif;
  font-size:20px;
  font-weight:300;
  height:50px;
  width: 270px;
}

.newPostLbl {
	font-size: 30px;
	font-color: #149898;
}

.newPost {
	box-sizing: border-box;
	margin-top: 20px;
	height: 30px;	
}