﻿/*=============================================================
    Authour URI: www.binarytheme.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% Free To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US
   
    ========================================================  */
/* =============================================================
   GENERAL STYLES
 ============================================================ */
body {
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
}

section {
    padding-bottom:80px;
    padding-top:75px;
}

h3 {
    padding:15px 5px;
    font-weight:900;
    text-transform:uppercase;
}
h4 {
    padding:15px 5px;
    font-weight:900;
    text-transform:uppercase;
}


.navbar-inverse .navbar-brand,.navbar-inverse .navbar-brand:hover {
color: #149898;
font-size: 35px;
letter-spacing: 5px;
font-weight: 900;
padding-bottom: 60px;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
border-color: rgba(16, 16, 16, 0);
}
.navbar-inverse {
border-color: rgba(16, 16, 16, 0);
}
.navbar-fixed-top {
top: 0;
border-width: 0 0 0px;
}
.set-links {
    padding: 15px 20px 10px 20px;
}
.navbar-inverse .navbar-nav > li > a {
   color: #84826d;
    font-weight:900;
}
.navbar-inverse .navbar-nav > li > a:hover {
    background-color: #fafafe;
    color:#636152;
}
.active-menu-item {
    color:rgba(20, 152, 152, 1)!important;
}
.navbar-brand small {
    font-size:12px;
    font-weight:normal;
    letter-spacing:1px;
}

  /* =============================================================
   HOME SECTION STYLES -IN HOME / INDEX.HTML 
 ============================================================ */
#home-sec {
background-color: #42acac;
padding: 0;
-webkit-background-size: cover;
background-size: cover;
-moz-background-size:cover;
color:#fff;
}

    #home-sec .overlay {
        min-height:500px;
    }
    #home-sec h1 {
        padding-top:150px;
        font-weight:900;
    }
#home-sec p {
    padding:10px;
}




#search-domain {
    padding-bottom:125px;
    padding-top:50px;
    background-color: #fafafe;
}
.input-cls {
    width: 820px;
    height: 70px;
    border: 3px solid #2EB1D0;
    font-size:30px;
    color:#2EB1D0;
    padding-left:40px;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
}
.btn-set {
    font-size:30px;
    border: 5px double #fff;
    border-radius:0px;
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
}

.searchField { 
    border: 1px solid #c4c4c4; 
    outline: 0;
    width: 80%; 
    height: 80%;
    font-size: 15px; 
    padding: 4px 4px 4px 4px; 
    border-radius: 4px; 
    -moz-border-radius: 4px; 
    -webkit-border-radius: 4px; 
    box-shadow: 0px 0px 8px #d9d9d9; 
    -moz-box-shadow: 0px 0px 8px #d9d9d9; 
    -webkit-box-shadow: 0px 0px 8px #d9d9d9; 
} 
 
.searchField:focus { 
    outline: 0; 
    border: 1px solid #7bc1f7; 
    box-shadow: 0px 0px 8px #7bc1f7; 
    -moz-box-shadow: 0px 0px 8px #7bc1f7; 
    -webkit-box-shadow: 0px 0px 8px #7bc1f7; 
} 

.searchBtn{
  float: center;
  -webkit-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
  -moz-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
  box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
  color:#fafafe;
  background-color:#42acac;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border:none;
  font-family:'Helvetica Neue',Arial,sans-serif;
  font-size:10px;
  height: 30px;
}

.searchBtn:hover{
  float: center;
  -webkit-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
  -moz-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
  box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
  color:#fafafe;
  background-color:#149898;
   border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border:none;
  font-family:'Helvetica Neue',Arial,sans-serif;
  font-size:10px;
  height: 30px;
}

.statusField {
  border: 3px solid #c4c4c4; 
    outline: 0;
    width: 100%; 
    height: 100%;
    font-size: 30px; 
    padding: 4px 4px 4px 4px; 
    border-radius: 4px; 
    -moz-border-radius: 4px; 
    -webkit-border-radius: 4px; 
    box-shadow: 0px 0px 8px #d9d9d9; 
    -moz-box-shadow: 0px 0px 8px #d9d9d9; 
    -webkit-box-shadow: 0px 0px 8px #d9d9d9; 
}
.statusField {
  outline: 0; 
    border: 3px solid #7bc1f7; 
    box-shadow: 0px 0px 8px #7bc1f7; 
    -moz-box-shadow: 0px 0px 8px #7bc1f7; 
    -webkit-box-shadow: 0px 0px 8px #7bc1f7; 
}